.cloud {
    width: 180px;
    height: 40px;
    background: #fff;
    /* background: rgba(173, 216, 230, 0.6); */
    border-radius: 200px;
    position: absolute;
    z-index: 1000;
    will-change: transform;
  }

  .cloud:before,
  .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    /* background: rgba(173, 216, 230, 0.6); */
    border-radius: 100px;
  }

  .cloud:before {
    width: 80px;
    height: 60px;
    top: -15px;
    left: 10px;
    transform: rotate(30deg);
  }

  .cloud:after {
    width: 100px;
    height: 100px;
    top: -55px;
    right: 15px;
  }

  .x1 {
    animation: moveclouds 16s linear infinite;
    left: -100px; 
    top: 10%;
    opacity: 0.8;
  }

  .x2 {
    animation: moveclouds 10s linear infinite;
    transform: scale(0.6);
    opacity: 0.6;
    left: -290px;
    top: 30%;
  }

  .x3 {
    animation: moveclouds 13s linear infinite;
    transform: scale(0.8);
    opacity: 0.8;
    left: -250px;
    top: 50%;
  }

  .x4 {
    animation: moveclouds 12s linear infinite;
    transform: scale(0.75);
    opacity: 0.75;
    left: -200px;
    top: 70%;
  }

  .x5 {
    animation: moveclouds 20s linear infinite;
    transform: scale(0.8);
    opacity: 0.5;
    left: -300px;
    top: 85%;
  }

  @keyframes moveclouds {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100vw);
    }
  }
  @media (max-width: 768px) {
    .cloud {
      display: none;  
    }
  }